.featured-employers {
  background-color: $color-white;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    .img {
      margin-top: 2rem;
      max-width: 100%;
      border: 1px solid $color-grey;
    }

    @media screen and (max-width: $breakpoint-small) {
      text-align: center;
    }
    @media screen and (min-width: $breakpoint-small) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
    }
    @media screen and (min-width: $breakpoint-medium) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
