.footer {
  position: relative;
  color: $color-grey;
  background-color: $color-tundora;

  &__menu-links {
    @include paddingY(2rem);

    .menu-links__list {
      display: flex;
      justify-content: space-evenly;

      @media screen and (min-width: $breakpoint-small) {
        justify-content: unset;
      }

      .column {
        .element {
          display: block;
          color: $color-grey;
          font-size: 0.9rem;

          &:not(:first-child) {
            margin-top: 1rem;

            @media screen and (min-width: $breakpoint-small) {
              margin-top: 0;
            }
          }

          &:not(:last-child) {
            margin-right: 2rem;
          }
        }

        @media screen and (min-width: $breakpoint-small) {
          display: flex;
          justify-content: space-between;
          margin-right: 2rem;
        }
      }
    }
  }

  .limiter {
    position: absolute;
    width: 100%;
    left: 0;
  }

  &__social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include paddingY(2rem);

    .copyright {
      font-size: 0.7rem;
    }

    .links .element {
      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover {
        text-decoration: none;
        opacity: 0.6;
        transition: opacity 1s;
      }
    }
  }
}
