// Job links
.job-links {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .link {
      &::after {
        content: " >";
      }
    }
  }

  &__sector {
    .jobs {
      @media screen and (min-width: $breakpoint-x-small) {
        display: flex;

        .column {
          &:not(:last-child) {
            margin-right: 2rem;

            @media screen and (min-width: $breakpoint-large) {
              margin-right: 15rem;
            }
          }
        }
      }
    }
  }
  .jobs-list {
    padding: 0;

    &__element {
      &:not(:first-child) {
        margin-top: 1rem;
      }

      .title {
        color: $color-brand;
        margin-right: 0.5rem;
      }

      .quantity {
        color: $color-tuatara;
        opacity: 0.4;
      }
    }
  }

  &__featured {
    .jobs-list__job {
      margin-top: 2rem;

      .img {
        max-width: 50%;

        @media screen and (min-width: $breakpoint-x-small) {
          margin-right: 2rem;
        }
      }
      .description {
        color: $color-tuatara;
        opacity: 0.7;

        &__title {
          margin-top: 0;
          color: $color-brand;
        }
        &__location {
          margin-top: 2rem;
        }
        &__salary {
          line-height: 0;
        }
      }

      @media screen and (min-width: $breakpoint-x-small) {
        display: flex;
      }
    }

    @media screen and (min-width: $breakpoint-medium) {
      padding-top: 0;
      padding-left: 5rem;
    }
  }

  @media screen and (min-width: $breakpoint-medium) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: $breakpoint-medium) {
    margin-top: 0;
  }
}
