.page-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  @include paddingY(1.5rem);
  position: relative;

  @media screen and (max-width: $breakpoint-small) {
    .no-js & {
      display: block;
    }
  }

  a:not(.button) {
    color: inherit;
  }
}

.page-header__logo {
  max-width: 190px;

  @media screen and (max-width: $breakpoint-small) {
    width: 50%;
  }
}

// TODO: move this
.page-nav {
  @media screen and (max-width: $breakpoint-small) {
    > .page-nav__item {
      display: none;
    }

    .no-js & > .page-nav__item {
      display: block;
      margin: 10px 0 10px;
    }
  }

  &__btn {
    background-color: $color-brand;
    color: $color-grey;
    padding: 0.2rem 0.5rem;
  }
}

.page-nav__item {
  display: inline-block;
  font-family: "ProximaNova";
  font-weight: 500;
  font-size: 0.9375rem;
  margin-left: 30px;

  @media screen and (max-width: 895px) {
    margin-left: 18px;
  }
}
