{% extends 'layouts/furniture.njk' %}

<!-- Main content -->
{% block content %}

  <div class="hero--first grid--flex">
    <img src="public/images/hero.png" class="hero--first__img" alt="A lady using a laptop in the office" />
  </div>
  
{% endblock %}