{% extends 'layouts/furniture.njk' %} {% block content %}

<div class="hero--first grid--flex">
  <img src="public/images/hero.png" class="hero--first__img" alt="A lady using a laptop in the office" />

  <div class="hero--first__content">
    <h1 class="heading">{{ heroMessage }}</h1>
    <p class="text">Hundreds of new career opportunities each day. Find your perfect job.</p>
  </div>
</div>

<!-- Search Form -->
{% include 'includes/search-form.njk' %}

<!-- Job links -->
<section id="job-links">{% include 'includes/joblinks.njk' %}</section>

<!-- Features -->
<section id="features">{% include 'includes/features.njk' %}</section>

<!-- Featured Employers -->
<section id="featured-employers">{%include 'includes/featured-employers.njk' %}</section>

<!-- Careers Advice -->
<section id="careers-advice">{%include 'includes/careers-advice.njk' %}</section>

<!-- About -->
<section id="about">{% include 'includes/about.njk' %}</section>

<!-- End block -->
{% endblock %}
