.hero--first {
  width: 100%;
  position: relative;
  left: 0;

  &__img {
    width: 100%;
  }

  &__content {
    width: 100%;
    position: absolute;
    translate: transformY(-50%);
    top: 35%;
    color: $color-grey;
    text-align: center;

    .heading {
      line-height: 0;
    }

    .text {
      @media screen and (max-width: $breakpoint-small) {
        font-size: 0.6rem;
      }
    }
  }
}
