<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title | default(pageTitle) }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <script src="/public/js/script.js"></script>
  </head>

  <!-- Body -->
  <body>
    <div class="container">
      <p class="skip-to-content">
        <a accesskey="S" title="Access key: S" href="#main">
          Skip to main content
        </a>
      </p>

      <!-- Header -->
      {% include 'includes/header.njk' %}

      <!-- Main content -->
      <main role="main" class="main" id="main">
        <div class="wrapper">{% block content %}{% endblock %}</div>
      </main>

      <!-- Footer -->
      {% include 'includes/footer.njk' %}
    </div>
  </body>
  <!-- End Body -->
</html>
