<div class="about">
  <div class="about-us container">
    <h3 class="heading about-us__heading">About us</h3>
    <p class="abput-us__content">
      Differentiate and you stand out un a crowded marketplace. Present your
      uniqueness and emphasize your rare attributes in your sales copy and
      promotions and you'll capture the imagination and interest of those you
      want to reach. In a world of copycats, it pays to be an original. It's
      usually the creator of a new concept who gets the most
    </p>
  </div>
  <div class="new-app container">
    <div class="new-app__content">
      <h3 class="heading">Download our new app</h3>
      <p class="text">
        Easily manage your job search on the go with our iPhone app. Instant job
        notifications. Search, shortlist and apply.
      </p>
      <img src="public/images/app-store-icon.png" class="img" />
    </div>
    <img src="public/images/mobile-app.png" class="new-app__img" />
  </div>
  <div class="campaigns container">
    <h3 class="heading campaigns__heading">Featured campaigns</h3>
    <ul class="campaigns__list">
      {% for item in featuredCampaigns %}
      <li class="element">
        <a href="#">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <a class="campaigns__link">View more ></a>
  </div>
</div>
