<div class="careers-advice padding-x padding-y">
  <!-- Advertise -->
  <div class="careers-advice__advertise">
    <img src="public/images/mpu.png" class="app-img" />
    <div class="details">
      <h4 class="details__heading">Advertise with us</h4>
      <ul class="details__list">
        <li>Post jobs and monitor your applications</li>
        <li>Search our extensive candidate database</li>
        <li>Filter applications with screening questions</li>
      </ul>
      <button class="details__btn">Post a job</button>
    </div>
  </div>
  <!-- Careers Blog -->
  <div class="careers-advice__blog">
    <div class="blog__heading">
      <h3 class="heading">Careers advice</h3>
      <a class="link">View all articles ></a>
    </div>
    <div class="blog__header">
      <img
        src="public/images/_careers-advice/article1.png"
        class="header__img"
      />
      <div class="header__content">
        <h4 class="heading">
          An introduction into ecommerce and the mobile revolution.
        </h4>
        <p class="body">
          There are many ways to market a product or a service and providing the
          potential clients and customers with tes timonials is one of the best.
        </p>
      </div>
    </div>
    <div class="blog__articles">
      {% for article in blogArticles %} {% if (loop.index > 1) %}
      <div class="article">
        <img
          src="public/images/_careers-advice/{{ article.img }}"
          class="article__img"
        />
        <h5 class="heading article__heading">{{ article.title }}</h5>
      </div>
      {% endif%} {%endfor%}
    </div>
  </div>
</div>
