<footer class="footer padding-x">
  <div class="footer__menu-links">
    <div class="menu-links__list">
      <div class="column">
        <a href="#" class="element">Browse jobs</a>
        <a href="#" class="element">Search employers</a>
      </div>
      <div class="column">
        <a href="#" class="element">Privacy</a>
        <a href="#" class="element">Terms & Conditions</a>
      </div>
      <div class="column">
        <a href="#" class="element">About us</a>
        <a href="#" class="element">Contact us</a>
      </div>
    </div>
  </div>
  <hr class="limiter" />
  <div class="footer__social-links">
    <p class="copyright">&#169; 2016. Powered by Madgex</p>
    <div class="links">
      {% for item in socialLinks %}
      <a class="element" href="{{ item.href }}">
        <img src="public/images/_social/{{ item.img }}" alt="{{ item.description }}" />
      </a>
      {% endfor %}
    </div>
  </div>
</footer>
