<header>
  <div class="account-bar">
    <div class="wrapper">
      <div class="account-bar__inner">
        <div class="hamburger-menu">
          <input type="checkbox" class="input-check" id="input-check" hidden />
          <label class="bars-container bars-container1" for="input-check">
            <span class="bar bar1"></span>
            <div class="overlap-container">
              <span class="bar bar2"></span>
              <span class="bar bar3"></span>
            </div>
            <span class="bar bar4"></span>
          </label>
        </div>
        <div>
          <a href="#">Sign in</a>
          <a href="#" class="u-hide-x-small">Create account</a>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="page-header">
      <img
        src="{{ assetPath }}/images/logo.png"
        alt="Pxl Pro Jobs Logo"
        class="page-header__logo"
      />
      {% include 'includes/navigation.njk' %}
    </div>
  </div>
</header>
