<nav>
  <ul class="page-nav u-reset-list">
    {% for item in navItems %}
    <li class="page-nav__item">
      <a href="{{ item.href }}">{{ item.label }}</a>
    </li>
    {% endfor %}
    <li class="page-nav__item">
      <button class="btn page-nav__btn">Advertise a job</button>
    </li>
  </ul>
</nav>
