<form class="search-form padding-x">
  <div class="search-form__first-section section">
    <input
      type="text"
      placeholder="  Keyword (e.g. Manager)"
      class="field"
      name="keyword"
    />
    <input
      type="text"
      placeholder="  Location (e.g. Boston)"
      class="field"
      name="location"
    />
  </div>
  <div class="search-form__second-section section">
    <select name="miles" id="search-form__miles" class="field">
      <option value="2">2 miles</option>
      <option value="5">5 miles</option>
      <option value="10" selected>10 miles</option>
      <option value="20">20 miles</option>
    </select>
    <button class="search-form__button btn">Search</button>
  </div>
</form>
