@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "ProximaNova";
  font-weight: 500;
  src: url("../fonts/ProximaNova-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "ProximaNova";
  font-weight: 700;
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
}

html {
  font-size: 0.9375rem;
}

body {
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  overflow-x: hidden;
  //max-width: 1900px;
}

a {
  color: $color-brand;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ProximaNova";
}

h1 {
  font-size: 1.5rem;

  @media screen and (min-width: $breakpoint-medium) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.4rem;

  @media screen and (min-width: $breakpoint-medium) {
    font-size: 2rem;
  }
}

.wrapper {
  margin: 0 auto;
  overflow-x: hidden;
}

.main {
  background-color: $color-grey;
}

.padding-x {
  @include paddingX($page-padding * 2);

  @media screen and (min-width: $breakpoint-medium) {
    @include paddingX($page-padding * 5);
  }
}

.margin-y {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
